/*.calendar__events {
    font-size: var(--font-size-xs);
}

.calendar__event {
    padding-bottom: 1.5vh;
}

.calendar__title {
    font-size: var(--font-size-m);
}

.calendar__event__title {
    font-weight: var(--font-weight-bold);
}

.calendar__event__attendees {
    color: var(--gray-dark);
    font-size: var(--font-size-xxs);
    list-style: square;
}

.calendar__event__attendees li {
    margin-left: 15px;
}*/