.time-zone__content {
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: var(--gray-dark);
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-xs);
}

.time-zone__time {
    font-weight: var(--font-weight-bold);
}

.time-zone__date {
    text-transform: uppercase;
}

.time-zone__weather__description {
    margin-left: 0.25em;
}

.time-zone__time-zone {
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xs);
    margin-bottom: 5px;
}

.time-zone {
    height: auto;
    width: 100%;
}

.time-weather {
    display: flex;
    text-align: center;
}

.time-weather__content {
    display: grid;
    align-items: center;
    width: 100%;
}

.time-weather__time {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-l);
}

.time-weather__date {
    text-transform: uppercase;
    font-size: var(--font-size-s);
}

.time-weather__weather {
    color: var(--gray-light);
    font-size: var(--font-size-m);
}

.time-weather__weather__temperature:after {
    content: '\00b0';
}


